<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<h1>Welcome to Saree World</h1>
<p>This is the only place to find all type of saree which suits you (when you wear saree your love one will love you more)</p>